@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Athiti');
html {
    background-image:url(../img/apexlegends.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height:100%;
    overflow: hidden;
}
body {
    background:transparent;
    font-family: 'Athiti', sans-serif;
    letter-spacing: 0.01em;
    font-size: 28px;
    color: #808080;
    margin: 0;
    height: 100%;
    overflow: auto;
}
.form{
	
	display:inline-block;
	border:3px solid white;
	text-align:left;
	padding:0px 40px 20px 40px;
	background-color:rgba(255,255,255,0.7);
}
.wrapper{
	
	text-align:center;
	margin-top:15%;
}
input[type=submit]{
	
	background:#fa2424;
	border:2px solid black;
	padding: 8px 19px 12px 19px;
	color:white;
	display:block;
	margin:0 auto;
	font-family: 'Athiti', sans-serif;
    letter-spacing: 0.01em;
    font-size: 16px;
    opacity:0.8;
	
}
input[type=submit]:hover{
	
	opacity:1;
}
input[type=text],input[type=number]{
	
	margin-left:60px;
	margin-top:10px;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 5px #000000;
	border-radius: 3px;
	padding:7px;
}